@import "modern-normalize";
@import url("./global/variables.css");
@import url("./global/reset.css");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
  background-color: var(--bg-purp);
}

.section {
  padding: 40px 0;
}
.container {
  margin: 0 auto;
  padding: 0 10px;
}

.info-list {
  display: flex;
  justify-self: center;
  gap: 10px 15px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}
