@import "modern-normalize";
@import url("./global/variables.css");
@import url("./global/reset.css");
@import "@fortawesome/fontawesome-free/css/all.min.css";

/* ============================================ */
/* * GLOBAL STYLES * */

/* накидати всюди трансформ тексту */
/* ! ховери разом з фокусами всюди */
/* ховери transition: all 0.3s ease; */

/* кнопки https://codepen.io/yuhomyan/pen/OJMejWJ */

/* ! зробити посилання з qr-кода вайберу */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
  background-color: var(--bg-purp);
}

.section {
  padding: 40px 0;
}
.container {
  margin: 0 auto;
  padding: 0 10px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ============================================ */
/* * INFO SECTION * */

.info-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.info-item:first-child {
  margin-left: 165px;
}

.info-item {
  background-color: var(--white);
  border-radius: 16px;
  padding: 20px 10px 20px 10px;
  width: 155px;
  height: 160px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.info-img {
  height: 56px;
  width: auto;
}

.info-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--bg-purp);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-item:hover .info-button,
.info-item:focus .info-button {
  background-color: var(--black);
}
.fa-plus {
  color: var(--white);
}

.info-text {
  font-weight: 800;
  font-size: 17px;
  line-height: 1.4;
  align-self: flex-start;
}

/* ============================================ */
/* * DEMAND SECTION * */

.demand-section {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 10px;
}

.marquee {
  text-transform: uppercase;
  color: var(--bg-purp);
  background-color: var(--black);
  overflow: hidden;
  position: relative;
  font-size: 15px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0.5px;
}

.marquee-inner {
  display: flex;
}

.marquee-line {
  display: flex;
  flex-shrink: 0;
  margin: 0;
  padding: 5px 0px;
  min-width: 100%;
  white-space: nowrap;
  animation: marqueeLine 12s linear infinite;
}
.marquee-line > li {
  position: relative;
  margin-right: 50px;
}

@keyframes marqueeLine {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* ============================================ */
/* * COMMUNITY SECTION * */

.community-section {
  padding-bottom: 100px;
}

.community-text {
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 15px;
  font-weight: 500;
  width: 260px;
  text-align: center;
  line-height: 1.2;
}

.community-link {
  padding: 25px 50px;
  border: 1px solid var(--black);
  font-size: 16px;
  color: var(--black);
  display: block;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .community-link:hover,
  .community-link:focus {
    background-color: rgba(7, 0, 0, 0.224);
  }
}

.community-img {
  display: none;
}

/* ============================================ */
/* * FOOTER * */

.footer {
  padding-bottom: 20px;
}

.footer-container {
  border-bottom: 1px solid var(--black);
  border-top: 1px solid var(--black);
  padding: 30px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-link {
  font-size: 15px;
  font-weight: 500;
  color: var(--black);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  transform: scale(1.1);
}

/* ============================================ */
/* ! MEDIA * */

@media screen and (min-width: 768px) {
  /* ============================================ */
  /* * INFO SECTION * */

  .info-list {
    gap: 20px;
  }

  .info-item {
    width: 215px;
    height: 295px;
    padding: 50px 10px 15px 10px;
  }
  .info-item:first-child {
    margin-left: 0;
    margin-right: 235px;
    width: 452px;
    height: 295px;
  }

  .info-img {
    height: 130px;
  }

  .info-text {
    font-size: 27px;
  }
  .info-item:first-child .info-text {
    font-size: 37px;
  }

  /* ============================================ */
  /* * COMMUNITY SECTION * */

  .community-section {
    padding-bottom: 0;
  }

  .community-container {
    position: relative;
    height: 370px;
  }

  .community-text {
    margin: initial;
    position: absolute;
    top: 110px;
    left: 95px;
    width: 360px;
    text-align: left;
    font-size: 15px;
  }

  .community-link {
    position: absolute;
    top: 198px;
    left: 90px;
    width: 345px;
    height: 75px;
    /* padding: 15px 15px 15px 130px; */
    box-sizing: content-box;
    padding: 0 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  }

  .community-link-text {
    color: var(--white);
    font-weight: 500;
    background-color: var(--black);
    border-radius: 8px;
    display: inline-block;
    padding: 15px 10px;
    width: 220px;
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  }
  /* .community-link:hover,
  .community-link:focus {
    border: 1px solid var(--white);
  }
  .community-link:hover .community-link-text,
  .community-link:focus .community-link-text {
    background-color: var(--white);
    color: var(--black);
  } */

  .community-img {
    display: block;
    position: absolute;
    top: 110px;
    left: 500px;
  }

  /* ============================================ */
  /* * DEMAND SECTION * */

  .demand-section {
    padding-bottom: 15px;
  }

  /* ============================================ */
  /* * FOOTER * */

  .footer-container {
    border-bottom: 2px solid var(--black);
    border-top: 2px solid var(--black);
  }

  .footer-list {
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }

  .footer-item {
    padding: 0 auto;
  }

  .footer-text {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .footer-link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1280px) {
  /* ============================================ */
  /* * INFO SECTION * */

  .info-list {
    gap: 30px;
  }

  .info-item {
    width: 250px;
    height: 295px;
  }
  .info-item:first-child {
    margin-right: 0;
    width: 250px;
    height: 420px;
    align-self: flex-start;
  }

  .info-img {
    height: 120px;
  }

  .info-button {
    right: 20px;
    top: 20px;
    width: 25px;
    height: 25px;
  }

  .info-text {
    font-size: 30px;
  }
  .info-item:first-child .info-text {
    font-size: 30px;
  }

  /* ============================================ */
  /* * COMMUNITY SECTION * */

  .community-container {
    height: 500px;
  }

  .community-text {
    left: initial;
    text-align: center;
    font-size: 18px;
    top: 175px;
    right: 478px;
    width: 480px;
  }

  .community-link {
    left: initial;
    top: 268px;
    right: 470px;
    width: 475px;
    height: 110px;
    padding: 0px 20px 0px 0px;
  }

  /* .community-link {
    top: 198px;
    left: 95px;
    width: 345px;
    height: 75px;
    box-sizing: content-box;
    padding: 0 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  /* } */

  .community-link-text {
    width: 220px;
    /* height: 75px; */
    padding: 15px 40px;
    font-size: 18px;

    /* 
    padding: 15px 10px;
    width: 220px; 
    */
  }

  .community-img {
    left: initial;
    top: 150px;
    right: 100px;
    width: 255px;
    height: 255px;
  }

  /* ============================================ */
  /* * FOOTER * */

  .footer {
    padding-bottom: 50px;
  }
}
